@mixin respond-to($breakpoint) {
  $size: map-get($breakpoints, $breakpoint);
  @media (min-width: $size) {
    @content;
  }
}

@mixin clearfix {
  &::after {
    content: '';
    display: table;
    clear: both;
  }
}