input,
select,
textarea {
  width: 100%;
  padding: 1.2rem;
  border: 1px solid #ccc;
  border-radius: 0.5rem;
  font-size: 1.4rem;
  margin-bottom: 1rem;
  outline: none;
  font-family: inherit;

  &:hover {
    border-color: #888;
  }

  &:focus {
    border-color: $primary;
    outline: none;
    box-shadow: 0 0 0 2px rgba($primary, 0.2);
  }
}